@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html{
    /* height:100% */
}
body{
    /* min-height:100vh; */
    background-color: #000000;
}
*{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    
}
.--title{
    font-family: 'VT323', monospace;
    /* font-size: 40px; */
}

.smash-bg{
    /* height:100%; */
    background-image: url('./bg.png');
    background-repeat: no-repeat;
    background-position: center 66px;
}

.branding__title , .counter__title {
    font-size: 40px;
}
.smash__header .counter{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.counter__title{
    display: inline-flex;
    align-items: center;
    column-gap: 37px;
    justify-content:flex-end
}
.smash-section{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
.smash-section, button, input{
    cursor: url('./cursor/cursor_down_1.gif'), default;
}
.smash-section:active, button:active, input:active{
    cursor: url('./cursor/cursor_fist_0.gif'), default;
}

.svg-sprite{
    display: none;
}
.counter__span{
    font-size:88px;
    line-height:40px;
}
.smash__header{
    flex: 0 0 0; 
    display: flex;
    justify-content:space-between;
    padding: 145px 105px ;
    box-sizing: border-box;
}
.smash__content{
    flex: 1 0 0 ;
    padding-bottom: 90px;
}
.smash__content .content{
    width: 100%;
    max-width: 425px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}
.content .item{

    position: relative;
    margin: 0 auto;
    margin-top: -180px;
    /* width: 69%; */
    width: 267px;
    padding-top: 85%;
    /* background-color:red; */
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
}
.sword-wrap{
    width:59%; 
    padding-top: 135%; 
    position:absolute;
    left:50%; 
    bottom: 105px ;
    transform:translate(-50%,0)
}
.sword-wrap svg{
    position:absolute; left:0; top:0;
    width:100%; height:100%
}
.stone-svg{
    width:100%; position:relative;padding-right: 2px;
}
.content .item.active .sword-wrap{
    bottom:113px

}
.smash__btn-wrap{
    padding-top:51px;
}
.smash__btn{
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    text-decoration: none;
    padding: 15px 40px;
    width: 280px;
    box-sizing: border-box;
    text-transform: uppercase;
    border:none;
    background:none;
    background-image: url('./btn.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 32px;
    line-height:1
}
.content__undertext{
    padding-top:59px
}
.undertext__title{
    font-size: 48px;
    line-height: 1;
    padding-top: 18px;
    margin: 0;
}
.undertext__paragraph{
    font-size: 32px;
    line-height: 1;
    padding-top:40px;
    margin: 0;
}

.congr__container{
    
    width: 100%;
    max-width:1284px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 90px;
    box-sizing: border-box;
    color: #000000;margin-top: -115px;
    /* overflow: hidden; */
}
.congr__container.game-over{
    margin-top: -51px;
}
.paper {
    position: relative;
    min-height: 660px;
    z-index: 1;
    
}

.paper-svg{
    position:absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    /* width: 100%; */
    height:100%;
    min-width: 1244px;
    z-index: -1;
}
.paper__bunny{
    position:absolute;
    bottom: 81%;
    left: 50%;
    transform:translate(-50%)
}
.congr__btn-wrap{
    margin-top:-17px
}

.congr__title {
    padding-top: 148px;
    font-size: 48px;
    padding-bottom: 44px;
}
.congr__title span{
    font-size: 89px;
    line-height: 80px;
    letter-spacing: 0.05em;
}
.congr__title , .congr__title span{
    color: #000000;
}

.congr__nft-wrap{
    padding-bottom: 56px;
}
.congr__input{
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background:none;
    color:#000000 ;
    width:440px;
    padding: 11px 50px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.1em;
    background-image: url('./btn2.svg');
    background-repeat: no-repeat;
    background-position: center center;
}
.congr__input::placeholder{
    color:#000000 ;
    opacity: 1;
}
.paper.slow .congr__title{
    font-size: 48px;
}
.paper.slow .congr__title span{
    font-size: 89px;
    line-height: 80px;
}
@media (min-width: 1930px){
    .smash-bg{
        /* background-size: cover; */
    }
}
@media screen and (max-width:1456px) {
    .smash__header{
        padding:145px 20px
    }
}